.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
}

.portfolio-container {
  width: 100%;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.activ {
  color: #2196f3;
}

.active {
  background-color: #2196f3;
  color: var(--color-2);
}

.portfolio-button {
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--color-h);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #f5f4fa;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #2196f3;
    color: var(--color-2);
    cursor: pointer;
  }
}

.examp-list {
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.examp-item {
  // flex-basis: calc(100% / 3 - 30px);

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
  }
  border-bottom: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .examp-item-p {
    transform: translateY(0);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.examp-item-wrap {
  position: relative;
  overflow: hidden;
}

.examp-item-p {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examp-item-title {
  margin-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  line-height: 2;
  font-size: 18px;
}

.examp-item-text {
  margin-top: 4px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 19px;
  line-height: 1.86;
  font-size: 16px;
}
