.works__container {
  padding-bottom: 94px;
  padding-top: 94px;
  @media screen and (max-width: 1200px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.works-list {
  display: flex;
  margin-top: 50px;
}

.works-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.works-list__text {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: block;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  pointer-events: none;
}
