.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--background-color-main);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px;
}

.backdrop.is-hidden.modal {
  transform: scale(0.5);
}

.modal-close {
  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.close-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;

  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 2px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  padding-left: 40px;
  &:focus + .input-icon {
    fill: #2196f3;
  }
  &:focus {
    border-color: #2196f3;
  }
}

.input-text {
  line-height: 1.16;
  font-size: 12px;
}

.input-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  &:focus {
    border-color: #2196f3;
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-textarea {
  margin-bottom: 0px;
}

.modal-button {
  position: absolute;
  left: 164px;
}

.check-text {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  &::before {
    content: "";
    height: 15px;
    width: 15px;
    border: 2px solid #000;
    border-radius: 2px;
    margin-right: 7px;
  }
}

.policy-check {
  &:checked + .check-text::before {
    border: none;
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.modal-link {
  color: #2196f3;
  margin-left: 2px;
}

.form-field-check {
  padding-left: 13px;
  padding-right: 13px;
}
