body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color-main);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-main);
  font-size: 14px;
  font-weight: 400;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }

  // font-size: 36px;
  // line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h);
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-h);
}

.item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-main);
}
